<div class="page-header">
    <h1>Favorite Sports Teams
    </h1>
</div>
<div class="side-padding">

    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <%= image_tag 'houston_rockets.png' %>
                <div class="caption">
                    <h3>
                        <%=@basketball%></h3>
                </div>
            </div>
          </div>

            <div class="col-sm-6">
                <div class="thumbnail">
                    <%= image_tag 'houston_texans.png' %>
                    <div class="caption">
                        <h3>
                            <%=@football%></h3>
                    </div>
                </div>
            </div>


    </div>
